*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo img{
    width: 140px;
    height: 60px;
    cursor: pointer;
}
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px ;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;

}
.btn:hover {
    background-color: red;
}

/*main style */
header{
    background-color: #ccafaf; /* ei ta #ffffff (white colour korte hobe)*/
    padding-top: 20px;


}
nav{
    width: 90%;
    max-width: 1460px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    
}
nav .menu a{
    font-size:16px ;
    color: #000000 ;
    text-decoration: none;
}
nav a:hover {
  color: #2f855a;
}

