*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo img{
    width: 140px;
    height: 60px;
    cursor: pointer;
}
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px ;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;

}
.btn:hover {
    background-color: red;
}

/*main style */
header{
    background-color: #ffffff; /* ei ta #ffffff (white colour korte hobe)*/
    padding-top: 20px;


}
nav{
    width: 90%;
    max-width: 1460px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    
}
nav .menu a{
    font-size:16px ;
    color: #000000 ;
    text-decoration: none;
}
nav a:hover {
  color: #2f855a;
}
.hero{
    background-image: url(../image/hero-bg.png);
    background-size: cover;
    width: 1493px;
    height: 560px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;


}
.hero .access-btn{
    background-color: #ffffff;
    font-size: 16px;
    color: #276941;
    padding: 8px 12px 8px 12px;
    text-align: center;
    
    /*border: solid red;*/
    border-radius: 1000px;
    margin-top: 123px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}
.hero .access-btn .icon{
    
    width: 12px;
    height: 12px;
    border:11.5px ;
    border: 14px;
    border: solid green;
    color: #469165;
    border-radius: 8px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    

}
.dot{
   width: 14px;
   height: 14px;
   background: #469165;
   border-radius: 50%;
}
.text{
   white-space: nowrap;
   font-size: 16px;
   color: #276941;
}
.hero h1{
    margin-top: 16px;
    font-size: 72px;
    font: bold;
}
.hero h1 span{
    color: #30B868;

}
.hero .subtitle{
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.hero .hero-btn{
    display: flex;
    align-items: center;
}



.hero .hero-btn .btn-one{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px ;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 520px;

}
.hero .hero-btn .btn-one:hover{
    background-color: #357a55;
    
}

.hero .hero-btn .btn-two{
    
    border: solid 1px #ffffff;
    color: #ffffff;
    border-radius: 4px;
    padding: 12px 16px ;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
    background: none;
    margin-left: 16px;

}
.hero .hero-btn .btn-two:hover{
    background-color: black;
    
}